/***********************************************/
/***************** tekst ***********************/

/*Jeg bruger font-face til at finde fontén på computeren*/
@font-face {
    font-family: "gill-sans";
    src: url("/fonts/gills_sv/GillSans-Light.ttf");
}
/*Jeg giver en font til h1, h2 og h3*/
h1,
h2,
h3 {
    font-family: "Baskervville", serif;
}

/*h1 er til banneret på hver side*/
h1 {
    background-color: rgba(242, 203, 217, 0.6);
    width: 100%;
    text-align: center; /*Centerer teksten*/
    padding: 15px;
    margin: 0;
}

/*Jeg giver en font til body*/
body {
    font-family: "gill-sans", sans-serif;
    margin: 0;
}

/***********************************************/
/***************** Sidelayout ******************/

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

* {
    box-sizing: border-box;
}

/***********************************************/
/***************** mobil nav *******************/

/*Jeg bruger flex til at bestemme retningen for min navbar og centerer den derefter*/
#menu {
    /* placering af menu (Gør så vi kan placere navbaren i forhold til browser)*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    background-color: white;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* vi løfter menuen over andet content*/
    z-index: 5;
    /* menubaren animeres ind*/
    transition: left 0.3s linear;
}

/*Denne style bliver brugt når der er #menu i url'en. Det bruger vi til at vise navbaren, når vi trykker på "åben navbar" ikonet*/
#menu:target {
    left: 0;
}

/*Jeg fjerner punkterne fra listen*/
#menuPunkter {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    color: #f2cbd9;
    text-decoration: none;
    /*Flex bruges til at ligge links under hinanden og centere dem*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Jeg adskiller mine menupunkter lidt*/
#menuPunkter a {
    font-size: 25px;
    font-family: "Baskervville", serif;
    display: block;
    margin: 10px;
    padding: 10px;
    /*Jeg fjerner stregen og ændre farven*/
    color: #f2cbd9;
    text-decoration: none;
    text-shadow: 0px 1px 6px #0000001d;
}

/***********************************************/
/************ mobil nav knapper ****************/

#closeNav,
#openNav {
    /*Gør så vi kan placere krydset i navbaren som vi vil*/
    position: absolute;
    top: 40px;
    text-decoration: none;
    font-size: 40px;
    color: black;
}

/*knapper til åben og luk af navbar*/
#closeNav {
    right: 40px;
}
#openNav {
    left: 40px;
}

/***********************************************/
/************ mobil nav logo *******************/

/*logoet i navbaren*/
#logo {
    width: 60%;
    display: block;
}

/*Jeg giver logoet 100% af forældrens 60%*/
#logo img {
    width: 100%;
}

/***********************************************/
/*************** mobil topbar ******************/

header {
    display: flex;
    justify-content: center;
    background-color: white;
}

/*Tilpasning af logo i toppen på mobil*/
#logoTop {
    /*Fordi der er et link sætter vi display block for at kunne bruge margin og width*/
    display: block;
    width: 45%;
    background-color: white;
    max-width: 200px;
    padding: 10px;
}

#logoTop img {
    width: 100%;
}

/***********************************************/
/********* stylesheet for Contact **************/

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    border-color: #f2cbd9;
}

#indhold {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Style the submit button with a specific background color etc */
#contactButton {
    background-color: rgba(242, 203, 217, 0.6);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
/* */
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
label {
    color: black;
}

/***********************************************/
/************ mobil Landingpage ****************/

/*Jeg laver css specifikt til headeren på vores landingpage*/
#landingHeader {
    height: 115px;
}

#landingHeader #logoTop {
    /*Logoet ligges ud over header (en del af det ønskede design)*/
    position: absolute;
}

#landingMain {
    /*Bagrundsbilledet ligges ind*/
    background-image: url(/images/mobilForside.JPG);
    background-size: cover;
    background-position: center center;
    /*Vi skal give main en højde for at vi kan bruge % til højde i børnene*/
    height: 1px;
}

#landingMain .subpages {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    padding: 10% 0;
}

#landingMain .subpages a {
    /*Der ligges en baggrundsfarve på vores a tags og de styles*/
    background-color: rgba(188, 206, 216, 0.7);
    width: 80%;
    padding: 15px;
    font-family: "Baskervville", serif;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: center;
    border: 1px solid #f2cbd9;
}

/***********************************************/
/********** stylesheet for About ***************/

#aboutMain {
    display: flex;
    flex-direction: column;
}

#aboutBackground {
    background-image: url(/images/about.JPG);
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#textAbout {
    background-color: rgba(188, 206, 216, 0.7);
    width: 75%;
    font-size: 25px;
    border: 1px solid #f2cbd9;
}

#textAbout p {
    margin: 35px;
    font-size: 20px;
}

/***********************************************/
/********** stylesheet for footer **************/
.footer {
    background-color: rgba(188, 206, 216, 0.7);
    padding: 10px 30px;
    text-align: left;
    background-size: 100%;
    justify-content: space-between;
    display: flex;
}

#textfooter {
    display: flex;
    flex-direction: column;
}

#socialmedie {
    display: flex;
    width: 40%;
    align-items: center;
}
.icons {
    width: 33%;
    display: block;
}
.icons img {
    width: 100%;
}
p {
    margin: 5px;
    font-size: 14px;
}
